<nav class="navbar navbar-default navbar-fixed-top header-back">
    <div class="container-fluid">

        <div id="backIcon" class="col-xs-2 col-sm-1">
            <a href="ph/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left header-text"></span></a>
        </div>

        <div class="col-xs-8 col-sm-10">
            <div class="header-text">
                Widget Edit
            </div>
        </div>

        <div id="okIcon" class="col-xs-2 col-sm-1">
            <a ng-click="model.addWidget(model.widget);"><span class="glyphicon glyphicon-ok header-text pull-right"></span></a>
        </div>

    </div>
</nav>


<div class="col-sm-6 col-sm-offset-3">
    <div ng-include="model.includeWidgetEdit()"></div>
</div>

<div data-ng-include data-src="'footer.html'"></div>