<nav class="navbar navbar-default navbar-fixed-top header-back">
    <div class="container-fluid">

        <div id="backIcon" class="col-xs-2 col-sm-1">
            <a href="pages"><span class="glyphicon glyphicon-chevron-left header-text"></span></a>
        </div>

        <div class="col-xs-8 col-sm-10">
            <div class="header-text">
                Widgets
            </div>
        </div>

        <div id="plusIcon" class="col-xs-2 col-sm-1">
            <a href="chooseWidget"> <span class="glyphicon glyphicon-plus header-text pull-right"></span> </a>
        </div>

    </div>
</nav>

<div ng-controller="widgetsCntrl" class="col-xs-12">
    <div class="widget">
        <div class="widget-toolbar pull-right">
            <a href="headingWidget"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <h2>League of Legends</h2>
    </div>
    <div class="widget">
        <div class="widget-toolbar pull-right">
            <a href="headingWidget"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <h4>4 thoughts going into the MSI Knockout Stage</h4>
    </div>
    <div class="widget">
        <div class="widget-toolbar pull-right">
            <a href="imageWidget"> <span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <img class="img-responsive"
             src="http://riot-web-cdn.s3-us-west-1.amazonaws.com/lolesports/s3fs-public/styles/centered/public/1_17.png?PBD7jpi1DDytX_ZTX6M4.eKcPkV72Zlh&amp;itok=moDvXaLh"
             alt="Sample Image"/>
    </div>
    <div class="widget">
        <div class="widget-toolbar pull-right">
            <a href="headingWidget"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <p>Here's this week's 10 thoughts from&nbsp;<a href="http://www.twitter.com/meanmisterkien" target="_blank">@MeanMisterKien</a>!
            MSI resumes on Friday, May 19&nbsp;at 11 am PT with SK Telecom T1 against the Flash Wolves. This is SKT's
            chance to reverse their losing record against the Wolves -- they can put to rest the idea of the Wolves
            being their kryptonite. Then G2 takes on WE on Saturday in a matchup between the two most successful regions
            aside from Korea. Which team will claim regional supremacy? Tune in to find out!&nbsp;</p>
    </div>
    <div class="widget">
        <div class="widget-toolbar pull-right">
            <a href="headingWidget"><span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <h4>Semifinal Teaser</h4>
    </div>
    <div class="widget">
        <div class="widget-toolbar pull-right">
            <a href="youtubeWidget"> <span class="glyphicon glyphicon-cog"></span></a>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KQHzb0u3aDo"></iframe>
        </div>
    </div>
</div>

<div data-ng-include data-src="'footer.html'"></div>
