<nav class="navbar navbar-default navbar-fixed-top header-back">
    <div class="container-fluid">

        <div id="backIcon" class="col-xs-2 col-sm-1">
            <a href="ph/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left header-text"></span></a>
        </div>

        <div class="col-xs-8 col-sm-10">
            <div class = "header-text">
                Search Flickr
            </div>
        </div>

    </div>
</nav>

<div class="input-group col-xs-12">
    <input ng-model="searchText" type="text" class="form-control">
    <span class="input-group-btn">
        <a class="btn btn-block btn-default" ng-click="model.searchPhotos(searchText)" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>

<div class="row">
    <div class="col-xs-4" ng-repeat="photo in model.photos.photo">
        <img ng-click="model.selectPhoto(photo)"
             ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_s.jpg"/>
    </div>
</div>

<div data-ng-include data-src="'footer.html'"></div>