<nav class="navbar navbar-default navbar-fixed-top header-back">
    <div class="container-fluid">

        <div id="leftArrow" class="col-xs-2 col-sm-1">
            <a href="ph/website"><span class="glyphicon glyphicon-chevron-left header-text"></span></a>
        </div>

        <div class="hidden-xs col-sm-3 header-text">
            Websites
        </div>

        <div id="plusIcon1" class="hidden-xs col-sm-1">
            <a class="pull-right"><span class="glyphicon glyphicon-plus header-text"></span></a>
        </div>

        <div class="col-xs-8 col-sm-6 header-text">
            New Website
        </div>

        <div id="okIcon" class="col-xs-2 col-sm-1">
            <a ng-click="model.createWebsite(model.newWebsite);"><span class="glyphicon glyphicon-ok header-text pull-right"></span></a>
        </div>

    </div>
</nav>


<div>
    <div class="hidden-xs col-sm-5">
        <ul ng-repeat="website in model.websites" class="list-group">
            <a href="ph/website/{{website._id}}/page"><span class="list-text">{{website.name}}</span></a>
            <a href="ph/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-7">
        <div class="form-group">
            <label for="name"> Name</label>
            <input id="name" ng-model="model.newWebsite.name" type="text" class="form-control" placeholder="Name"/>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" ng-model="model.newWebsite.desc" rows="6" class="form-control" placeholder="Description"></textarea>
        </div>
    </div>
</div>
<div data-ng-include data-src="'footer.html'"></div>