<div class="form-group">
    <label for="name"> Name</label>
    <input id="name" ng-model="model.widget.name" type="text" class="form-control" placeholder="Name"/>
</div>
<div class="form-group">
    <label for="text">Text</label>
    <input id="text" ng-model="model.widget.text" type="text" class="form-control" placeholder="Text"/>
</div>
<div class="form-group">
    <label for="url">URL</label>
    <input id="url" type="text" ng-model="model.widget.url" class="form-control" placeholder="URL"/>
</div>
<div class="form-group">
    <label for="width">Width</label>
    <input id="width" ng-model="model.widget.width" type="text" class="form-control" placeholder="width"/>
</div>
<div class="form-group">
    <label for="file">Upload</label>
    <input id="file" multiple type="file" class="form-control"/>
</div>
<a class="btn btn-block btn-success">Upload</a>
<a ng-show="model.widget._id" ng-click="model.deleteWidget(model.widget._id)" class="btn btn-danger btn-block">Delete</a>